/* Format*/
.navbar-brand {color:white; background-color:lightskyblue; font-size: 35px}
.navbar {background-color:whitesmoke}
.nav-link {color:skyblue; font-size: 20px}

.main {background-color: lightsteelblue}
.side_item {background-color: whitesmoke}

/* Formatting on different screen sizes*/

@media (min-width: 575px) {
    .container, .container-sm {
      max-width: 550px;
    }
  }
  
  @media (min-width: 770px) {
    .container, .container-sm, .container-md {
      max-width: 725px;
    }
  }
  
  @media (min-width: 1000px) {
    .container, .container-sm, .container-md, .container-lg {
      max-width: 975px;
    }
  }
  
  @media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1150px;
    }
  }